/* For mobile phones */

* {
  box-sizing: border-box;
}


body {
	padding: 2%;
	font-family: 'Open Sans', sans-serif
}

h1{
	font-family: 'Nunito', sans-serif;
	margin-top: 0;
}

h2 {
	font-size: 1em;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

.player {
	/*border: 1px solid blue;*/
	border-top: 1px solid black;
  /*clear: both;
	overflow: auto;*/
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.credentials {
	float: left;
	width: 58%;
	/*border: 2px solid red;*/
	overflow: auto;
	margin-top: 5%;
}

.name, .position, .club, .full_position {
	/*border: 1px solid green;*/
}

.position {
	float: left;
	font-size: 0.7em;
}

.club {
	display: none;
	float: right;
	font-size: 0.9em;
}

.full_position {
	display: none;
	float: left;
	font-size: 0.9em;
}

.photo {
	float: left;
	width: 31%;
	max-width: 100px;
	margin-top: 5%;
}

.flag {
	float: left;
	width: 11%;
	max-width: 108px;
}

.flag_cred {
	display: none;
}

.player::after {
  content: "";
  clear: both;
  display: table;
}

#coach {
  font-size: 0.9em;
  margin-top: 7%;
  margin-bottom: 5%;
}

#contact {
  font-size: 0.8em;
  margin-bottom: 3%;
}

#contact img {
  max-width: 20px;
  vertical-align:text-bottom;
  margin-left: 0.4em;
}

#contact img:hover {
  opacity: 0.5;
}

img:active {
  opacity: 0.5;
}

@media only screen and (min-width: 360px) {
	h1, p, #contact {
		text-align: center;
	}

	h2 {
		font-size: 1.1em;
	}

  .flag {
    max-width: 50px;
  }

	.credentials {
		margin-left: 12%;
	}

	.position {
		font-size: 0.8em;
	}

	.photo, .credentials, {
		margin-top: 2.5%;
	}

	#coach {
		margin-left: 1.5%;
	}
}

@media only screen and (min-width: 660px) {

	body {
		padding: 0 7.5%;
	}

  p {
    font-size: 1.2em;
    margin-bottom: 5%;
  }

  h1 {
    margin: 4%;
  }

  h2 {
    font-size: 1.3em;
  }

	#roster {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	.player {
		width: 260px;
		border-top: unset;
		display: unset;
	}

	.position {
		display: none;
	}

	.full_position {
		display: unset;
		float: left;
	}

	.club {
		display: unset;
		float: right;
	}

	.credentials {
		position: relative;
		overflow:auto;
		background-color: #F0F0F0;
		width: 100%;
		float: left;
		padding: 2%;
		font-size: 1.05em;
		margin: unset;
	}

	.photo {
		width: 70%;
		max-width: 180px;
		margin-left: 15%;

	}

	.flag {
		display: none;
	}

	.flag_cred {
		position: absolute;
		display: unset;
		top: 0px;
		right: 0px;
		width: 12%;
		max-width: 108px;
	}

	#coach {
		text-align: center;
	}

  #contact {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1200px) {

  p {
    font-size: 1.4em;
    margin: 0 10%;
  }
}
