/* For mobile phones */

* {
  box-sizing: border-box;
}


body {
	padding: 2%;
	font-family: 'Open Sans', sans-serif
}

h1{
	font-family: 'Nunito', sans-serif;
	margin-top: 0;
}

h2 {
	font-size: 1em;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

.player {
	/*border: 1px solid blue;*/
	border-top: 1px solid black;
  /*clear: both;
	overflow: auto;*/
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.credentials {
	float: left;
	width: 58%;
	/*border: 2px solid red;*/
	overflow: auto;
	margin-top: 5%;
}

.name, .position, .club, .full_position {
	/*border: 1px solid green;*/
}

.position {
	float: left;
	font-size: 0.7em;
}

.club {
	display: none;
	float: right;
	font-size: 0.9em;
}

.full_position {
	display: none;
	float: left;
	font-size: 0.9em;
}

.photo {
	float: left;
	width: 31%;
	max-width: 100px;
	margin-top: 5%;
}

.flag {
	float: left;
	width: 11%;
	max-width: 108px;
}

.player::after {
  content: "";
  clear: both;
  display: table;
}

#coach {
  font-size: 0.9em;
  margin-top: 7%;
  margin-bottom: 5%;
}

#contact {
  font-size: 0.8em;
  margin-bottom: 3%;
}

#contact img {
  max-width: 20px;
  vertical-align:text-bottom;
  margin-left: 0.4em;
}

#contact img:hover {
  opacity: 0.5;
}

img:active {
  opacity: 0.5;
}

@media only screen and (min-width: 380px) {
	h1, p, #contact {
		text-align: center;
	}
	
	.flag {
		max-width: 50px;
	}
	
	h2 {
		font-size: 1.1em;
	}
	
	.credentials {
		margin-left: 12%;
	}
	
	.position {
		font-size: 0.8em;
	}
	
	.photo, .credentials, {
		margin-top: 2.5%;
	}
	
	#coach {
		margin-left: 1.5%;
	}
}
